
<h1>Welcome {{user.firstname}}</h1>
<h4>your stories</h4>
{{#if story}}
    <table class="striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each story}}
            <tr>
                <td><a href="/stories/{{id}}">{{title}}</a></td>
                <td>{{formatDate date "MMMMM do YYYYY"}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a class="btn left-align purple" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i>Edit</a>
                    <form action="/stories/{{id}}?_method=DELETE" method="post" id="delete-form">
                        <button type="submit" class="red btn"><i class="fa fa-remove"></i>Delete</button>
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>you have not created any stories yet</p>
{{/if}}